
.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px 0px;
	position: relative;
	z-index: 10;
}
.header-list {
	display: flex;
	gap: 30px;
	transition: 0.5s;
	:hover{
		color: #000;
		text-decoration: underline;
	}
}

.heder-img {
	width: 150px;
	 height: 65px;
}

.cart__icon {
	font-size: 30px;
}







