.footer{
	background-color: #F4F1ED;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 40px 0px 60px 0px;
	position: relative;
}
.footer-list {
	display: flex;
	justify-content: center;
	gap: 30px;
	transition: 0.5s;
	:hover{
		color: #000;
		text-decoration: underline;
	}
}

.heder-img {
	width: 150px;
	 height: 65px;
}

.cart__icon {
	font-size: 30px;
}

.footer-cart{
	font-size: 25px;
}

.footer-cart_item + .footer-cart_item {
	margin-left: 20px;
}







